<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<ion-header color="primary" [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">
      Registro de usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="margin-top: 40%" [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label floating>Usuario:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña:</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button  
      class="mt-3" shape="round" expand="full" [routerLink]="['/products' ]">Ingresar<ion-icon name="log-in"></ion-icon>
    </ion-button>  
  </ion-list>
</ion-content>