<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">
      Reservations with Lorenzo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <div class="contenedor">
  <!--   <ion-label for="name">Nombre</ion-label>
   <input type="text" id="name" [value]="2.3 + 4">
    <input type="text" id="name2"  [(ngModel)]="nombre">
     <ion-button (click)="changeName()">Change</ion-button>{{nombre}}-->
  </div>
     

  <h2 class="ion-text-center mt-4 text-danger">Escoja su tipo de usuario</h2>
  <div class="container mt-3 text-center">
    <ion-button fill="outline"  [routerLink]="['/login' ]">Huesped<ion-icon name="person-outline"></ion-icon></ion-button>
  </div>
  <div class="container mt-3 text-center">
    <ion-button fill="outline"  [routerLink]="['/login' ]">Arrendatario<ion-icon name="person-outline"></ion-icon></ion-button>
  </div>
  <img class="mt-4" src="assets/img/reservas.jpg" alt="" style="height: 100%;">

  <!-- <page-lugars></page-lugars> -->

</ion-content>
